{% extends "layout.html" %}
{% block content %}
<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Register<span>.</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Cart Total Page Begin -->
<section class="cart-total-page spad">
    <div class="container">
        <form action="" class="checkout-form" method="POST">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-lg-12">
                    <h3>Registration Info</h3>
                </div>
                
                <div class="col-lg-9">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-2">
                                <p class="in-name">{{ form.username.label }}</p>
                                
                            </div>
                            <div class="col-lg-10 " >
                                <!-- <input type="text" placeholder="Type your username"> -->
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-lg is-invalid ") }}
                                    <div class="invalid-feedback ">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
            
                        </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="in-name">{{ form.email.label }}</p>
                            
                        </div>
                        <div class="col-lg-10">
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
        
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <p class="in-name">{{ form.password.label }}</p>
                            
                        </div>
                        <div class="col-lg-10">
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="in-name">{{ form.confirm_password.label }}</p>
                        </div>
                        <div class="col-lg-10">

                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.confirm_password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="payment-method text-center">
                                <button type="submit">Register</button>
                                <p>Already have an account? <a href="{{ url_for('login')}}">Log In</a></p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            
        </form>
    </div>
</section>
<!-- Cart Total Page End -->
{% endblock content %}