{% extends "layout.html" %}
{% block content %}
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>User Information<span>.</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                
            </div>
            <div class="col-lg-8">
                
            </div>
        </div>
    </div> 
</div>           
{% endblock content %}
